{% extends "blogbase.html"%}

{% block title %}Blog | {{post.title}}{% endblock %}

{% block bloglist %}{% endblock %}

{% block blogtitle %}{{post.title}}{%endblock%}

{% block blogbody%}{{ post.html() |safe}}{% endblock %}

{%block blogauthor%}<a href="https://twitter.com/{{post.author.twitter}}">Twitter: {{post.author.name}}</a>
<a href="/edit/{{post.slug}}" class="btn btn-outline-secondary">Edit</a>
<a href="/page/post.html" class="btn btn-outline-primary">OK</a>
{% endblock %}

{% block blogcreated%}{{post.created}} {%endblock%}
