{% extends "base.html" %}

{% block title %}Login Page{% endblock %}


{% block jumbotron %}

<form class="" action="/login" method="post">
<label for="username">Username</label>
<input type="text" name="username" value="">
<br>
<label for="password">Password</label>
<input type="text" name="password" value="">
<button type="submit" name="button" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

{% block tipcalculator%}{% endblock%}
{% block emoji%} {%endblock%}
{% block travel%} {%endblock%}
{% block contact %} {% endblock %}
